<%= webpacked_plugins_js_for :foreman_openscap %>
<%= stylesheet_link_tag *webpack_asset_paths('foreman_openscap', :extension => 'css') %>

<div id="scap-content-profiles"></div>

<%= mount_react_component('ScapContentProfiles',
                          '#scap-content-profiles',
                          { :res => @res, :scapContentProfilesUrl => list_scap_content_profiles_path }.to_json )%>